# Introduction to Mongo Atlas (mongoDB) with Python (pymongo)

For Mac users, in a terminal do: open "/Applications/Python 3.6/Install Certificates.command"

"The Python 3.6 installers for macOS from https://www.python.org do not automatically install any CA certificates. Without installed CA certificates, connections to Atlas will fail certificate verification."

https://docs.atlas.mongodb.com/driver-connection/#python-driver-example

The following content was obtained from w3schools

## Initialization

In [ ]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://alexis:EaAhTT9Upafaogy7@mind-dhjza.azure.mongodb.net/test?retryWrites=true&w=majority")

## Queries on Database

In [47]:
# Get the list of dbs
client.list_database_names()

# Instanciate db object (from existing db 'test')
db = client['test']

# Get column
col = mydb["customers"]

# Drop database
client.drop_database('student_db')

## Queries from Collections

### INSERT

In [ ]:
# INSERT method

mydict = { "name": "John", "address": "Highway 37" }

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

# Insert document
x = mycol.insert_one(mydict)

# Get its auto-generated id
x.inserted_id


# Insert list of documents
x = mycol.insert_many(mylist)

# Get the list of auto-generated ids
x.inserted_ids

### SELECT

#### Set fields to return

In [ ]:
# SELECT method

# Select one
x = mycol.find_one()
print(x)

# Select all
x = mycol.find()
for elem in x:
    print(elem)

# Select all, only return field name (include with arg set to 1)
for x in mycol.find({},{"name": 1}):
  print(x)


# Select all, return all fields but name (exclude with arg set to 0)
for x in mycol.find({},{"name": 0}):
  print(x)


# Select all, return all fields but ids
for x in mycol.find({},{"_id":0}):
  print(x)

#### Filter

In [ ]:
# Simple query
query = { "address": "Park Lane 38" }

# Use regex
myquery = { "address": { "$regex": "^S" } }

# Exe query
mydoc = mycol.find(query)

# Read elements
for x in mydoc:
    print(x)

#### Sort

In [ ]:
# Ascending
mydoc = mycol.find().sort("name")

# Descending
mydoc = mycol.find().sort("name", -1)

### UPDATE
If the query finds more than one record, only the first occurrence is updated.

In [ ]:
# Set one document to update
myquery = { "address": "Valley 345" }

# Set its new values
newvalues = { "$set": { "address": "Canyon 123" } }

# Update one
mycol.update_one(myquery, newvalues)


# Set many documents to update
myquery = { "address": { "$regex": "^S" } }

# Set their new values
newvalues = { "$set": { "name": "Minnie" } }

# Update many
x = mycol.update_many(myquery, newvalues)

# Get number of updated documents
print(x.modified_count, "documents updated.")

### DELETE

In [ ]:
# Set one document to delete
myquery = { "address": "Mountain 21" }

# Delete document
mycol.delete_one(myquery)


# Set many documents to delete (using regex)
myquery = { "address": {"$regex": "^S"} }

# Delet many docuemnts
x = mycol.delete_many(myquery)

# Get number of deleted docuemnts
print(x.deleted_count, " documents deleted.")

#### LIMIT

In [ ]:
myresult = mycol.find().limit(5)

## Manipulate Collections

### DROP

In [ ]:
mycol.drop()